#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  text-decoration: none;
}
.carousel-control-next, .carousel-control-prev {
  border-radius: 30px;
}
.c-item {
  height: 22rem;
}

.Countries {
  max-width: 80%;
  background-color: #A9BCE3;
  border-radius: 30px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  width: 1400%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  margin: 30px 0px 0px 20px;
}




.country-card-wrapper {
  position: relative;
  width: 20px;
}

.countries-link {
  text-decoration: none;
  color: white;
}

.key {
  padding: 0;
}

h1{ 
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3, h5 {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.country-card-overlay {
  position: relative;
  margin-top: -15vh;
  margin-left: 4vh;
  width: 5%;
  z-index: 2;
  font-size: 200%;
}

.card-title { 
  font-size: larger;
  letter-spacing: 10px;
  word-wrap: normal;
}

