body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countryImage {
 width: 15rem;
 height: 19rem;
 object-fit: cover;
}

.Countries {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}